.navbar {
  padding: 0;
  text-emphasis-color: black;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #333;
}
