<!-- Showcase my contact information in a neat and modern design-->
<!-- Use Bootstrap's grid system to make the page responsive -->

<div class="d-flex justify-content-center">
  <div class="card w-75 text-center text-bg-dark mb-3">
    <h1 class="card-header">Contact Info</h1>
    <div class="card-body">
      <h5 class="card-title">Joseph Maffiola</h5>
      <p class="card-text">Email: <a href="mailto:7maffiolajoey@gmail.com">7maffiolajoey@gmail.com</a></p>
      <p class="card-text">Phone number: 920-222-3356</p>
      <a [href]="apiUrl + '/download' + contactCard" class="btn btn-primary">Download my contact card</a>
    </div>
  </div>
</div>
