<div class="container-fluid">
  <div class="row">
    <div class="slide-row"></div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <div class="blog-post">
        <h2 class="display-2">Welcome to My Portfolio</h2>
        <p class="text-secondary">5/7/2023 by <a href="#">Joey Maffiola</a></p>
        <hr />
        <p></p>
        <p class="lead">
          <strong>Hi, I'm Joey Maffiola</strong>
        </p>
        <p>
          This portfolio is designed to showcase the breadth and scope of my skill-set. It is built using Angular 6.x
          and leverages the GitHub API for populating and displaying my work in the Projects menu on the left sidebar. I
          will add more functionality as time allows.
        </p>
        <p>
          Since this portfolio is technically still in development consider yourself a bonafide tester. As such, you may
          feel free to navigate freely throughout the site and email me if you encounter any bugs.
        </p>
      </div>
    </div>
  </div>
</div>
